<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/add_car.css') }}">
</head>

<body>
    <div class="main">
        <form action="/car/edit/process/{{car.id}}" method="post">
            {% with messages = get_flashed_messages(category_filter=["car"])
            %}<!-- declare a variable called messages -->
            {% if messages %}<!-- check if there are any messages -->
            {% for message in messages %}<!-- loop through the messages -->
            <p>{{message}}</p><!-- display each message in a paragraph tag -->
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="nav">
                <a class="btn btn-light btn-outline-dark" href="/" role="button">logout</a>
                <a class="btn btn-light btn-outline-dark" href="/dashboard" role="button">dashboard</a>
            </div>
            <h2> Edit {{car.model}}</h2>

            <div>
                <label>Price:</label> <br>
                <input type="number" name="price" id="price" value="{{car.price}}">
            </div> <br>

            <div>
                <label>Model:</label> <br>
                <input type="text" name="model" id="model" value="{{car.model}}">
            </div>
            <br>

            <div>
                <label>Make:</label> <br>
                <input type="text" name="make" id="make" value="{{car.make}}">
            </div>
            <br>

            <div>
                <label>Year</label> <br>
                <input type="number" name="year" id="year" value="{{car.year}}">
            </div>


            <div>
                <label>Description:</label> <br>
                <textarea name="description" id="description" cols="60" rows="5">{{car.description}}</textarea>
            </div>
            <br>

            <input type="hidden" name="users_id" value="{{car.id}}">
            <button class="btn btn-success" type="submit">update</button>
        </form>
    </div>
</body>

</html>