<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/view.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <a class="btn btn-light btn-outline-dark" href="/" role="button">logout</a>
        <a class="btn btn-light btn-outline-dark" href="/dashboard" role="button">dashboard</a>
    </div>
    <div class="main">
        <div class="second">
            <h1> ${{car.price}}</h1>
            <h4> Model : {{car.model}}</h4>
            <h4> Make : {{car.make}}</h4>
            <h4> Year : {{car.year}}</h4>
            <h4> Description: <br> <em>{{car.description}} </em> </h4>
            <br>
            <p> seller : {{car.user.first_name}}</p>

            <div class="purchase-btn">
                <a class="btn btn-light btn-outline-dark" href="/car/delete/{{car.id}}" role="button"> Purchase</a>
            </div>
        </div>

    </div>

</body>

</html>